services:
  db:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=faceswap
    ports:
      - '5434:5432'
    volumes:
      - faceswap_postgres_data_fresh:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - '6379:6379'

volumes:
  faceswap_postgres_data_fresh:
